@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  color: #586cf6;
}
section {
  width: 100%;
  padding-top: 120px;
  margin-top: -120px;
}

@media (min-width: 768px) {
  section {
    padding-top: 100px;
    margin-top: -100px;
  }
}
